@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-dark: rgb(25,25,25);
  --bg-level-1-dark: rgb(32,32,32);
  --bg-level-2-dark: rgb(37,37,37);
  --bg-level-3-dark: rgb(44,44,44);

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgba(255,255,255,0.81);
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
}